/*颜色变量*/
$primary: #fc5a1f;
$red: #F63636;
$white: #fff;
$place_horder: #999999;
$yellow: #ffbc42;
$view: #2c2d38;
$green: #30AC80;
$grey: #ebebeb;
$deepBlue: #3968af;
$blue: #0196D9;
$blue1: #1952C5;
$blue2: #2C00FC;
$blue3: #3C5273;
$lightBlue: #08E3F0;
$purple: #d51a7a;
$purple1: #c807f1;
$black: #0A1725;
$black1: #131F31;
$black2: #141921;
$black3: #333;
$black6: #666;
$black9: #999;
$e2: #E2E2E2;
